@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
}

<h2>New Movie</h2>

@using (Html.BeginForm("Save", "Movies", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(e => e.Movie.Name)
        @Html.TextBoxFor(e => e.Movie.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Movie.ReleaseDate)
        @Html.TextBoxFor(e => e.Movie.ReleaseDate,"{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Movie.Genre)
        @Html.DropDownListFor(e => e.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"),"Select Genre", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Movie.NumberInStock)
        @Html.TextBoxFor(e => e.Movie.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(e=>e.Movie.Id)
    @Html.HiddenFor(e=>e.Movie.DateAdded)
    <button type="submit" class="btn btn-primary">Submit</button>
}

